.App {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.App__left, .App__right {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.App__left {
  margin-right: 20px;
}

.App__right {
  margin-left: 20px;
}