.Reports {
  padding: 20px;
}

.Reports__filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.Reports__filters label {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.Reports__chart {
  margin: 20px 0;
  height: 400px;
}